// Grant SMF AllPermission.

grant codeBase "file:../bin/" {
        permission java.security.AllPermission;
};

grant codeBase "file:../../org.eclipse.osgi.jarverifier/bin/" {
        permission java.security.AllPermission;
};