<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="test.plugins.f"
   name="test.plugins.f"
   version="1.0"
   provider-name="Eclipse.org">
   <extension
         id="test.plugin.f"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
      </application>
   </extension>
</plugin>
