<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id2"
         point="org.eclipse.equinox.bidi.bidiTypes">
      <typeDescription
            class="org.eclipse.equinox.bidi.internal.tests.StructuredTextTest"
            description="Test"
            type="test.ID">
      </typeDescription>

   </extension>

</plugin>
