<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    
   <extension point="org.eclipse.ui.preferencePages">
      <page
         name="%security"
         class="org.eclipse.equinox.internal.security.ui.preferences.SecurityCategoryPage"
         id="org.eclipse.equinox.security.ui.category"
         category="org.eclipse.ui.preferencePages.Workbench">
      </page>
   </extension>


   <extension point="org.eclipse.ui.preferencePages">
      <page
         name="%storage"
         class="org.eclipse.equinox.internal.security.ui.storage.StoragePreferencePage"
         id="org.eclipse.equinox.security.ui.storage"
         category="org.eclipse.equinox.security.ui.category">
         <keywordReference
               id="org.eclipse.equinox.security.ui.keywordPassword">
         </keywordReference>
         <keywordReference
               id="org.eclipse.equinox.security.ui.keywordUsername">
         </keywordReference>
         <keywordReference
               id="org.eclipse.equinox.security.ui.keywordLogin">
         </keywordReference>
      </page>
   </extension>

   <!-- The default UI password provider -->
   <extension
         id="DefaultPasswordProvider"
         name="%uiPasswordProviderName"
         point="org.eclipse.equinox.security.secureStorage">
      <provider
            class="org.eclipse.equinox.internal.security.ui.storage.DefaultPasswordProvider"
            description="%providerDescription"
            priority="2">
      </provider>
   </extension>
   
   <!-- Dependency injection to couple UI and core modules -->
   <extension
         point="org.eclipse.equinox.security.internalUI">
      <provider
            class="org.eclipse.equinox.internal.security.ui.storage.UICallbackProvider">
      </provider>
   </extension>
   <extension
         id="security"
         point="org.eclipse.ui.systemSummarySections">
      <section
            class="org.eclipse.equinox.internal.security.ui.SecurityConfigurationSection"
            id="securityConfigurationSection"
            sectionTitle="%systemSummaryTitle">
      </section>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="org.eclipse.equinox.security.ui.keywordPassword"
            label="%keywordPassword">
      </keyword>
      <keyword
            id="org.eclipse.equinox.security.ui.keywordUsername"
            label="%keywordUsername">
      </keyword>
      <keyword
            id="org.eclipse.equinox.security.ui.keywordLogin"
            label="%keywordLogin">
      </keyword>
   </extension>
    
</plugin>
