<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    
   <extension point="org.eclipse.ui.preferencePages">
      <page
         name="%security"
         class="org.eclipse.equinox.internal.security.ui.preferences.SecurityCategoryPage"
         id="org.eclipse.equinox.security.ui.category"
         category="org.eclipse.ui.preferencePages.Workbench">
      </page>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <page
         name="%policy"
         class="org.eclipse.equinox.internal.security.ui.preferences.PolicyPage"
         id="org.eclipse.equinox.security.ui.policy"
         category="org.eclipse.equinox.security.ui.category">
      </page>
   </extension>

<!--
   <extension point="org.eclipse.ui.preferencePages">
      <page
         name="%certificates"
         class="org.eclipse.equinox.internal.security.ui.preferences.CertificatesPage"
         id="org.eclipse.equinox.security.ui.certificates"
         category="org.eclipse.equinox.security.ui.category">
      </page>
   </extension>
-->

   <extension point="org.eclipse.ui.preferencePages">
      <page
         name="%storage"
         class="org.eclipse.equinox.internal.security.ui.storage.StoragePreferencePage"
         id="org.eclipse.equinox.security.ui.storage"
         category="org.eclipse.equinox.security.ui.category">
      </page>
   </extension>

   
<!--   
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.ui.Basic"
            class="org.eclipse.equinox.internal.security.ui.wizard.CertificateImportWizard"
            icon="icons/full/obj16/signed_yes_tbl.gif"
            id="org.eclipse.equinox.security.ui.importWizards.ImportWizard"
            name="%certificateFile">
         <description>
            %certificateFileDescription
         </description>
         <selection class="org.eclipse.core.resources.IResource" /> 
      </wizard>
   </extension>
-->   
   <!-- The default UI password provider -->
   <extension
         id="DefaultPasswordProvider"
         name="%uiPasswordProviderName"
         point="org.eclipse.equinox.security.secureStorage">
      <provider
            class="org.eclipse.equinox.internal.security.ui.storage.DefaultPasswordProvider"
            priority="2">
      </provider>
   </extension>
   
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="org.eclipse.equinox.security.ui.defaultPolicyActivity"
            name="Default Policy for Trusted Bundles">
         <enabledWhen>
            <systemTest
                  property="osgi.signedcontent.authorization.engine"
                  value="org.eclipse.osgi.internal.service.security.DefaultAuthorizationEngine">
            </systemTest></enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="org.eclipse.equinox.security.ui.defaultPolicyActivity"
            isEqualityPattern="true"
            pattern="org.eclipse.equinox.security.ui.policy">
      </activityPatternBinding>
      <category
            id="org.eclipse.equinox.security.ui.securityCategory"
            name="Security">
      </category>
      <categoryActivityBinding
            activityId="org.eclipse.equinox.security.ui.defaultPolicyActivity"
            categoryId="org.eclipse.equinox.security.ui.securityCategory">
      </categoryActivityBinding>
   </extension>
   <!-- Dependency injection to couple UI and core modules -->
   <extension
         point="org.eclipse.equinox.security.internalUI">
      <provider
            class="org.eclipse.equinox.internal.security.ui.storage.UICallbackProvider">
      </provider>
   </extension>
   <extension
         id="security"
         name="Security"
         point="org.eclipse.ui.systemSummarySections">
      <section
            class="org.eclipse.equinox.internal.security.ui.SecurityConfigurationSection"
            id="securityConfigurationSection"
            sectionTitle="Security Configuration">
      </section>
   </extension>
   
</plugin>
