<?xml version="1.0" encoding="UTF-8"?>
<MetaData xmlns="http://www.osgi.org/xmlns/metatype/v1.0.0">
	<OCD name="%configurationName" id="org.eclipse.equinox.http.jetty.config" description="%configurationDescription">
		<AD id="http.enabled" type="Boolean" default="true" name="%httpEnabledName" description="%httpEnabledDescription"/>
		<AD id="http.port" type="Integer" default="0" name="%httpPortName" description="%httpPortDescription"/>
		<AD id="http.host" type="String" default="0.0.0.0" name="%httpHostName" description="%httpHostDescription"/>
		<AD id="http.nio"  type="Boolean" default="true" name="%httpNioName" description="%httpNioDescription"/>
		<AD id="https.enabled" type="Boolean" default="false" name="%httpsEnabledName" description="%httpsEnabledDescription"/>
		<AD id="https.port" type="Integer" default="0" name="%httpsPortName" description="%httpsPortDescription"/>
		<AD id="https.host" type="String" default="0.0.0.0" name="%httpsHostName" description="%httpsHostDescription"/>
		<AD id="ssl.keystore" type="String" default="." name="%sslKeystoreName" description="%sslKeystoreDescription"/>
		<AD id="ssl.password" type="String" name="%sslPasswordName" description="%sslPasswordDescription" required="false"/>
		<AD id="ssl.keypassword" type="String" name="%sslKeyPasswordName" description="%sslKeyPasswordDescription" required="false"/>
		<AD id="ssl.needclientauth" type="Boolean" default="false" name="%sslNeedClientAuthName" description="%sslNeedClientAuthDescription"/>
		<AD id="ssl.wantclientauth" type="Boolean" default="false" name="%sslWantClientAuthName" description="%sslWantClientAuthDescription"/>
		<AD id="ssl.protocol" type="String" default="TLS" name="%sslProtocolName" description="%sslProtocolDescription"/>
		<AD id="ssl.algorithm" type="String" default="SunX509" name="%sslAlgorithmName" description="%sslAlgorithmDescription"/>
		<AD id="ssl.keystoretype" type="String" default="JKS" name="%sslKeystoreTypeName" description="%sslKeystoreTypeDescription"/>
		<AD id="context.path" type="String" default="" name="%contextPathName" description="%contextPathDescription"/>
		<AD id="context.sessioninactiveinterval" type="Integer" default="600" name="%contextSessionInactiveIntervalName" description="%contextSessionInactiveIntervalDescription"/>
		<AD id="other.info" type="String" name="%otherInfoName" description="%otherInfoDescription" required="false"/>
	</OCD>
	<Designate pid="org.eclipse.equinox.http.jetty.config" factoryPid="org.eclipse.equinox.http.jetty.config" bundle="*">
		<Object ocdref="org.eclipse.equinox.http.jetty.config"/>
	</Designate>
</MetaData>
