<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id2"
         point="org.eclipse.equinox.bidi.bidiTypes">
      <typeDescription
            class="org.eclipse.equinox.bidi.internal.tests.StructuredTextTest"
            description="Test"
            type="test.ID">
      </typeDescription>
      
      <typeDescription
            class="org.eclipse.equinox.bidi.internal.tests.StructuredTextMath"
            description="Processor for arithmetic expressions"
            type="math">
      </typeDescription>
      <typeDescription
            class="org.eclipse.equinox.bidi.internal.tests.StructuredTextProperty"
            description="Processor for property file lines (incomplete: only handles '=')"
            type="property">
      </typeDescription>
      <typeDescription
            class="org.eclipse.equinox.bidi.internal.tests.StructuredTextSystem"
            description="%Processor for system(user) statements"
            type="system">
      </typeDescription>
   </extension>

</plugin>
