<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="test.plugins.c"
   name="test.plugins.c"
   version="1.0"
   provider-name="Eclipse.org">
   <runtime>
      <library name=".">
         <export
               name="test.plugins.c.exported.*">
         </export>
      </library>
   </runtime>
</plugin>
