<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.pde.ui.JunitLaunchConfig">
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit3"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.osgi.tests.AutomatedTests"/>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.eclipse.osgi.tests"/>
<booleanAttribute key="automaticAdd" value="true"/>
<stringAttribute key="location" value="c:\temp\test-workspaces"/>
<booleanAttribute key="askclear" value="false"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="clearConfig" value="true"/>
<stringAttribute key="product" value="org.eclipse.platform.ide"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<booleanAttribute key="clearws" value="true"/>
<booleanAttribute key="includeOptional" value="true"/>
<booleanAttribute key="useProduct" value="false"/>
<stringAttribute key="checked" value="[NONE]"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.eclipse.osgi.tests"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<booleanAttribute key="automaticValidate" value="false"/>
<stringAttribute key="location2" value="d:\work\workspaces\runtime-test-workspace"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<stringAttribute key="templateConfig" value=""/>
<stringAttribute key="location1" value="c:\temp\test-workspaces"/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<booleanAttribute key="includeFragments" value="false"/>
<stringAttribute key="pde.version" value="3.2a"/>
<stringAttribute key="configLocation" value=""/>
<stringAttribute key="application" value="org.eclipse.pde.junit.runtime.coretestapplication"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<booleanAttribute key="default" value="true"/>
</launchConfiguration>
