<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="simpleApp"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="any"
            visible="true">
         <run
               class="org.eclipse.osgi.tests.appadmin.SimpleApp">
         </run>
      </application>
   </extension>
   <extension
         id="globalSingletonApp"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="org.eclipse.osgi.tests.appadmin.SimpleApp">
         </run>
      </application>
   </extension>
   <extension
         id="testCardinality01"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="5"
            thread="any"
            visible="true">
         <run
               class="org.eclipse.osgi.tests.appadmin.SimpleApp">
         </run>
      </application>
   </extension>
   <extension
         id="testCardinality02"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="*"
            thread="any"
            visible="true">
         <run
               class="org.eclipse.osgi.tests.appadmin.SimpleApp">
         </run>
      </application>
   </extension>
   <extension
         id="testMainThreaded01"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="*"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.osgi.tests.appadmin.SimpleApp">
         </run>
      </application>
   </extension>
      <extension
         id="testMainThreaded02"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.osgi.tests.appadmin.SimpleApp">
         </run>
      </application>
   </extension>
   <extension
         id="failedApp"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="any"
            visible="true">
         <run
               class="org.eclipse.osgi.tests.appadmin.FailedApp">
         </run>
      </application>
   </extension>
   <extension
         id="exitValueApp"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="any"
            visible="true">
         <run
               class="org.eclipse.osgi.tests.appadmin.ExitValueApp">
         </run>
      </application>
   </extension>
</plugin>
