<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="bidiTypes" name="%bidiExpressionPointName" schema="schema/BiDiExpressionType.exsd"/>
   <extension
         id="bidi"
         name="%bidiExtensionName"
         point="org.eclipse.equinox.bidi.bidiTypes">
      <typeDescription
            description="%sqlProcessorName"
            class="org.eclipse.equinox.bidi.internal.consumable.BidiComplexSql"
            type="sql">
      </typeDescription>
      <typeDescription
            description="%regexProcessorName"
            class="org.eclipse.equinox.bidi.internal.consumable.BidiComplexRegex"
            type="regex">
      </typeDescription>
      <typeDescription
            description="%javaProcessorName"
            class="org.eclipse.equinox.bidi.internal.consumable.BidiComplexJava"
            type="java">
      </typeDescription>
      <typeDescription
            class="org.eclipse.equinox.bidi.internal.consumable.BidiComplexComma"
            description="%commaProcessorName"
            type="comma">
      </typeDescription>
      <typeDescription
            class="org.eclipse.equinox.bidi.internal.consumable.BidiComplexEmail"
            description="%emailProcessorName"
            type="email">
      </typeDescription>
      <typeDescription
            class="org.eclipse.equinox.bidi.internal.consumable.BidiComplexFile"
            description="%fileProcessorName"
            type="file">
      </typeDescription>
      <typeDescription
            class="org.eclipse.equinox.bidi.internal.consumable.BidiComplexMath"
            description="%mathProcessorName"
            type="math">
      </typeDescription>
      <typeDescription
            class="org.eclipse.equinox.bidi.internal.consumable.BidiComplexProperty"
            description="%propertyProcessorName"
            type="property">
      </typeDescription>
      <typeDescription
            class="org.eclipse.equinox.bidi.internal.consumable.BidiComplexSystem"
            description="%systemProcessorName"
            type="system">
      </typeDescription>
      <typeDescription
            class="org.eclipse.equinox.bidi.internal.consumable.BidiComplexUnderscore"
            description="%underscoreProcessorName"
            type="underscore">
      </typeDescription>
      <typeDescription
            class="org.eclipse.equinox.bidi.internal.consumable.BidiComplexURL"
            description="%urlProcessorName"
            type="url">
      </typeDescription>
      <typeDescription
            class="org.eclipse.equinox.bidi.internal.consumable.BidiComplexXPath"
            description="%xpathProcessorName"
            type="xpath">
      </typeDescription>
   </extension>
</plugin>
