<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="bidiTypes" name="%bidiExtensionPointName" schema="schema/bidiTypes.exsd"/>
   <extension
         id="bidi"
         name="%bidiExtensionName"
         point="org.eclipse.equinox.bidi.bidiTypes">
      <typeDescription
            class="org.eclipse.equinox.bidi.internal.consumable.StructuredTextComma"
            description="%commaProcessorName"
            type="comma">
      </typeDescription>
      <typeDescription
            class="org.eclipse.equinox.bidi.internal.consumable.StructuredTextEmail"
            description="%emailProcessorName"
            type="email">
      </typeDescription>
      <typeDescription
            class="org.eclipse.equinox.bidi.internal.consumable.StructuredTextFile"
            description="%fileProcessorName"
            type="file">
      </typeDescription>
      <typeDescription
            class="org.eclipse.equinox.bidi.internal.consumable.StructuredTextJava"
            description="%javaProcessorName"
            type="java">
      </typeDescription>
      <typeDescription
            description="%regexProcessorName"
            class="org.eclipse.equinox.bidi.internal.consumable.StructuredTextRegex"
            type="regex">
      </typeDescription>
      <typeDescription
            description="%sqlProcessorName"
            class="org.eclipse.equinox.bidi.internal.consumable.StructuredTextSql"
            type="sql">
      </typeDescription>
      <typeDescription
            class="org.eclipse.equinox.bidi.internal.consumable.StructuredTextUnderscore"
            description="%underscoreProcessorName"
            type="underscore">
      </typeDescription>
      <typeDescription
            class="org.eclipse.equinox.bidi.internal.consumable.StructuredTextURL"
            description="%urlProcessorName"
            type="url">
      </typeDescription>
      <typeDescription
            class="org.eclipse.equinox.bidi.internal.consumable.StructuredTextXPath"
            description="%xpathProcessorName"
            type="xpath">
      </typeDescription>
   </extension>
</plugin>
